build/
node_modules/
.github/
.idea/
api_mock/
public/
coverage/
**__fixtures__**

src/common/tabs/tab.js
src/components/admin/tabs/KeyValueDetails.js
src/components/cards/DetailsCard.tsx
src/components/dashboard/date_time_card.js
src/components/dashboard/lcm/LcmFinal.js
src/components/dashboard/lcm/LcmServices.js
src/components/dashboard/my_service_view_card.js
src/components/dashboard/side_sections_view.js
src/components/detailsPage/pages/resources/ResourceMainContent.tsx
src/components/detailsPage/pages/shapes/components/suitableOfferings/ShapeSuitableOfferings.tsx
src/components/discovery/search/DiscoverySearchFilter.js
src/components/discovery/search/SearchContent.js
src/components/discovery/search/SearchView.js
src/components/discovery/servicetile/CompositeServiceTile.js
src/components/discovery/servicetile/ServiceTile.js
src/components/discovery/pprTile/PprTile.js
src/components/discovery/search/SearchSort.js
src/components/discovery/tabs/description/DescriptionCompositeView.js
src/components/discovery/tabs/description/Description.js
src/components/discovery/tabs/description/DescriptionTab.js
src/components/discovery/tabs/description/DescriptionTabView.js
src/components/help/AboutPage.js
src/components/help/SupportPage.js
src/components/loading_view/LoadingView.js
src/components/login/Login.js
src/components/onboarding/onboarding_page.js
src/components/onboarding/onboarding_provider.js
src/components/onboarding/steps_pane.js
src/components/provide/ProvideAttributes.js
src/components/provide/ProvideOverview.js
src/components/solutionPackaging/SolutionPackagingView.js
src/reducers/SearchCriteriaStore.js
src/utils/shapeHelpers.ts
