:root {
    --gray-0: #f2f2f2;
    --gray-1: #e6e6e6;
    --gray-2: gainsboro;
    --gray-3: lightgray;
    --gray-4: silver;
    --gray-5: darkgray;
    --gray-6: gray;
    --gray-7: dimgray;
    --gray-8: #3d3a38;
    --gray-9: #040404;

    --primary-color: #a01441;

    --secondary-color: #073A5E;
    --secondary-color-light: #427599A0;

    --normal-button--bg-color: var(--primary-color);
    --primary-button-bg-color: var(--secondary-color);

    --input-focus-color: var(--secondary-color-light);
    --input-label-color: var(--gray-7);
}

