:root {
    --shadow--small: 0px 2px 4px rgba(0, 0, 0, 0.5);
    --shadow--normal: 4px 4px 8px 0px rgba(0, 0, 0, 0.25), -1px -1px 16px 0px rgba(0, 0, 0, 0.02);
    --shadow--large: 0px 4px 16px 0 rgba(0, 0, 0, 0.25), 0px 6px 32px 0 rgba(0, 0, 0, 0.15);

    --shadow--button: 2px 2px 2px rgba(0, 0, 0, 0.7);
    --shadow--button-elevated: 3px 3px 4px rgba(0, 0, 0, 0.5);
}
