.container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 400px;
    min-height: 30vh;
    border-radius: 10px;
    background-color: white;
    padding: 0 20px 20px 20px;
    box-shadow: 10px 15px 20px rgba(0, 0, 0, 0.25);
}

.title {
    align-items: flex-start;
    text-align: left;
}

.links {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 10px;
}
