.title {
    font-size: xx-large;
}

@media (max-width: 1700px) {
    .title {
      font-size: x-large;
    }
  }
  
@media (max-width: 1300px) {
    .title {
      font-size: 20px;
    }
  }
  
  @media (max-width: 1000px) {
    .title {
      font-size: small;
    }
  }