.credentials-flex-table {
    display: flex;
    flex-flow: row wrap;
    transition: 0.5s;
    border-bottom: 1px solid;
}
.credentials-flex-row {
    flex:1;
  }


  .credentials-header {
    font-family: 'TeleNeo';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 16px;
    /* identical to box height, or 133% */
    
    letter-spacing: 0.4px;
    
    /* greyscale/dark */
    
    color: #4B4B4B;

}

.credentials-cell {
    /* Body Small */

    font-family: 'Titillium Web';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 20px;
/* identical to box height, or 133% */

    letter-spacing: 0.25px;

/* greyscale/darker */

    color: #1C0E15;
}

.credential-dropdown {
    flex:0.2;
    align-content: right;
}


.credentials-wrapping {
    margin: 20px;
}

.credential-add-user-button {
/* Button */
font-family: 'Titillium Web';
font-style: normal;
font-weight: 700;
font-size: 18px;
line-height: 20px;
/* or 111% */
display: flex;
align-items: center;
text-align: center;
letter-spacing: 0.25px;

/* Background/Primary */
color: #000094;


/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;
margin: 15px 8px;

}

.credentials-edit-wrap{
    flex: 0 0 100%;
    display: flex;
    flex-flow: row wrap;
    transition: 0.5s;

    /* Caption */
    font-family: 'TeleNeo';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 16px;
    /* identical to box height, or 133% */
    letter-spacing: 0.4px;

    /* greyscale/dark */
    color: #4B4B4B;
}

.credentials-edit-column{
    display: flex;
    flex-flow: column wrap;
    flex:1;
    text-align: left;
    margin: 10px 0px 10px 0px;
}
.credentials-edit-column input{
    width: 90%;
    /* Body Small */
    font-family: 'Titillium Web';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 20px;
    /* identical to box height, or 133% */
    letter-spacing: 0.25px;

    /* greyscale/darker */
    color: #1C0E15;    
}


.credentials-edit-row{
    flex: 0 0 100%;
    text-align: left;
}
.credentials-edit-row input{
    width: 95%;
    margin: 0px 0px 10px 0px;
}
.credentials-edit-row select{
    width: 96%;
    margin: 0px 0px 10px 0px;
}

.credentials-edit-remove{
    text-align: left;
    /* Remove */

    /* Body Bold */
    font-family: 'Titillium Web';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 24px;
    min-width: 1px;
    /* Background/ Warning */
    color: #EE1D23;
    margin-right: auto;
    margin-top: auto;
    margin-bottom: auto;
}
.credentials-edit-blue {
    margin: 10px 5px 5px 5px;
}
.credentials-edit-blue button {
    
padding: 8px 16px;

/* Background/Primary */
border: 2px solid #000094;
box-sizing: border-box;
border-radius: 4px;

/* Button */
font-family: 'Titillium Web';
font-style: normal;
font-weight: 700;
font-size: 18px;
line-height: 20px;
/* or 111% */
display: flex;
align-items: center;
text-align: center;
letter-spacing: 0.25px;

/* Background/Primary */
color: #000094;


}

.credentials-edit-blue button[disabled] {
    cursor:default;
    pointer-events: none;
    opacity: 0.3; 
  }

  .credential-dropdown {
      content:url(/images/DropDownArrowUp.svg);
  }
