.header-container {
    display: flex;
    justify-content: center;
    align-items: center;
    justify-items: center;
    width: 100vw;
    height:100px;
    background-image: linear-gradient(to right, #060190, #A01441);
    margin-left: calc(-50vw + 50%);
    color: white;
}

.content {
    width: 100%;
}

.header-title {
    color: white;
    width: 90%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.shapes-and-ontologies-content-container {
    display: flex;
    justify-content: flex-start;
    width: 100%;
}

.new-car-loader {
    display: flex;
    justify-content: center;
}

.search-and-button-container {
    display: flex;
    align-items: center;
    width: 100%;
}

.button {
    min-height: 5vh;
    border-radius: 10px;
    width: 150px;
    box-shadow: 10px 15px 20px rgba(0, 0, 0, 0.25);
    background-color: white;
}
