.filterContainer {
    background-color: #ffffff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    width: 250px;
    margin: 25px 25px 25px 0;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    max-height: 600px;
  }
  
  .checkboxContainer {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
  }
  
  .label {
    display: flex;
    align-items: center;
    cursor: pointer;
    font-size: 14px;
    font-weight: lighter;
    user-select: none;
  }

  .checkbox {
    width: 20px;
    height: 20px;
    cursor: pointer;
  }