aside {
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    width: 25rem;
    height: fit-content;
    padding: 2.5rem;

    border-radius: 10px;
    background-color: var(--white);
    box-shadow: var(--shadow--normal);

    transition: all 0.4s ease 0s;
    transform: translateX(0);
}

aside > section {
    width: 100%;
    padding-bottom: 2rem;
    border-bottom: 1px solid var(--gray-2);
}

.filterContainer {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.filterCollapseToggleArraow {
    margin-top: 2.8rem;
    margin-right: 1rem;
    cursor: pointer;
}

.selectedFilterCounter {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    height: 25px;
    width: 25px;
    border-radius: 50%;
    margin-right: 1rem;
    color: white;
    background-color: var(--primary-color);
}

.filterTitle {
    margin-top: 0;
    font-size: 2.8rem;
}

.filterGroup {
    margin-top: 2rem;
    font-weight: normal;
    font-size: 2rem;
}

.checkboxContainer {
    display: flex;
    align-items: center;
}

.specificFiltersContainer {
    width: 100%;
}

.label {
    display: flex;
    align-items: center;
    margin-top: 1rem;

    font-size: 1.4rem;
    font-weight: 400;
    cursor: pointer;
    user-select: none;
}

.checkbox {
    margin-right: 1rem;
    width: 2rem;
    height: 2rem;

    cursor: pointer;
}

@media (max-width: 960px) {
    aside {
        display: none;
    }

    aside.visible {
        display: flex;
        width: 25rem;
    }

    aside.hidden {
        display: none;
    }
}

