.transferStateContainer {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    align-self: center;
    width: 85%;
}

.transferStateLabel {
    width: 85%;
    margin: 0;
    font-weight: bold;
}

.transferStateValue {
    flex-grow: 1;
    width: 100%;
    padding: 1rem 1.5rem;
    min-height: 2.5rem;

    text-align: center;
    font-weight: bold;
    color: var(--gray-0);
    background-color: var(--secondary-color-light);

    border-radius: 0.5rem;
}

