.transferStateLabel {
    display: inline-block;
    align-self: center;
    width: 85%;
    margin: 5px 20px;
    font-weight: bold;
}

.transferState {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    width: 85%;
    margin: 5px 20px;
    align-self: center;
}

.transferStateValue {
    flex-grow: 1;
    display: inline-block;
    padding: 10px 15px;
    text-align: center;
    font-weight: bold;
    width: auto;
    min-height: 25px;
    color: #F6F6F6;
    background-color: var(--secondary-color-light);
    border-radius: 5px;
}

