.modal {
    width: 600px;
    height: auto;
}

.modalBody {
    gap: 5px;
}

.message {
    margin-left: 5px;
}

.progress {
    width: 100%;
    height: 10px;
    border-radius: 4px;
    overflow: hidden; /* Optional, for rounded corners */
}

progress::-webkit-progress-bar {
    background-color: var(--secondary-color-light); /* Background track color */
}

progress::-webkit-progress-value {
    background-color: var(--secondary-color-light); /* Progress color for Chrome, Safari, Edge */
}

progress::-moz-progress-bar {
    background-color: var(--secondary-color-light); /* Progress color for Firefox */
}

.actionButton {
    margin-right: 0;
    margin-bottom: 0;
}

.cancelButton {
    background-color: var(--secondary-button-bg-color);
    color: white;
}
