.mapCardContainer {
    align-items: flex-start;
    max-height: 40rem;
    padding: 2rem;
    height: 37rem;
    border-radius: 1rem;
    background-color: var(--white);
    box-shadow: var(--shadow--normal);
    max-width: 40rem;
}

.headerContainer {
    width: 100%;
    justify-Content: space-between;
}

.title {
    margin-top: 0;
}
