.modal {
    width: 600px;
    height: auto;
}

.label {
    display: block;
    margin-top: 20px;

    color: var(--input-label-color);
    font-size: 20px;
    text-align: left;
}

.edcTextInput {
    display: block;
    margin-top: 15px;
    padding: 15px;
    width: 100%;

    font-size: 18px;

    color: gray;
    border: 1px solid lightgray;
    border-radius: 5px;
}

.edcTextInput:focus {
    outline-color: var(--input-focus-color);
}

.actionButton {
    margin-right: 0;
    margin-bottom: 0;
}

.transferButton {
    background-color: var(--primary-button-bg-color);
    color: white;
}

.cancelButton {
    background-color: var(--normal-button--bg-color);
    color: white;
}
