.sidebarCardContainer {
    align-items: flex-start;
    padding: 2rem;
    width: 100%;
    max-width: 40rem;
    height: 40rem;
    border-radius: 1rem;
    background-color: var(--white);
    box-shadow: var(--shadow--normal);
}

.title {
    margin-top: 0;
}

.sideBarCardButton {
    margin: 0;
    width: 85%;
    align-self: center;
}
