.logo {
    height: auto;
}

.logo a {
    display: flex;
    align-items: center;
}

.logo img {
    width: 200px;
    height: auto;
    margin: auto;
}

@media (max-width: 1200px) {
    .logo img {
        width: 150px;
        height: auto;
    }
}
