.navbar {
    box-sizing: border-box;

    width: 100%;
    min-width: 320px;
    padding: 20px;
    background-color: white;
}

.navbarContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    column-gap: 20px;
}

@media (max-width: 768px) {
    .navbar {
        position: fixed;
        top: 0;
        box-shadow: var(--shadow--small);
    }

    .navbarContainer {
        flex-wrap: wrap;
    }
}
