.home-container {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: center;
    flex: 1 1 auto;
    width: 100%;
}

.home-content {
    width: 90%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    align-content: center;
    padding: 20px 0px;
}

.homeTitle {
    margin-bottom: 2rem;
}

.homeText {
    margin-bottom: 2rem;
}
