.mainContainer {
    gap: 0;
}

.searchBarContainer {
    gap: 3rem;
}

.contentContainer {
    align-items: flex-start;
}

.icon {
    display: none;
}

@media (max-width: 960px) {
    .icon {
        display: block;
    }
}
