.header-container {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    justify-items: center;
    width: 100vw;
    height:100px;
    background-image: linear-gradient(to right, #060190, #A01441);
    margin-left: calc(-50vw + 50%);
    color: white;
}

.header-title {
    color: white;
    margin-left: 130px;
}

.content {
    margin-top:20px;
}
