.sidebarContainer {
    align-items: flex-start;
    width: 40rem;
    min-width: 40rem;
}

@media (max-width: 1200px) {
    .sidebarContainer {
        flex-direction: row;
        justify-content: space-between;
        align-items: stretch;
        width: 100%;
        min-width: unset;
    }
}

@media (max-width: 960px) {
    .sidebarContainer {
        flex-direction: column;
    }
}
