.main {
    margin: 0 3rem;
    box-sizing: border-box;
}

.horizontal {
    display: flex;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 30px;
    box-sizing: border-box;
}

.vertical {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    width: 100%;
    gap: 30px;
    box-sizing: border-box;
}
