.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100vw;
    min-height: 30vh;
    background-image: linear-gradient(to right, #060190, #A01441);
}

.header-image {
    flex: 1;
    padding: 30px;
}

.header-content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    flex: 1;
    color: white;
    padding-right: 20%;
}

@media (max-width: 768px) {
    .header-container {
        margin-top: 73px;
    }
}
