.App {
  text-align: center;
  font: 700 14px/1.33 "Titillium Web", Helvetica, Arial, serif;
}

:root {
  --width-menu: 150px;
  --height-menu: 50px;
  --banner-height: 400px;
  --content-width: 80%;
}

/*
.left-menu {
  display: block;
  height: 100%;
  width: var(--width-menu);
  position: fixed;
  z-index: 10;
  top: 0;
  left: 0;
  background-color: white;
  overflow-x: hidden;
  padding-top: 10px;
  border-right-color: blueviolet;
  border-right-width: 0.5vh;
  border-right-style: solid;  
}

.left-menu img{
  max-width: 100%;
  object-fit: cover;
}

.left-menu a {
  padding: 8px 8px 8px 32px;
  background-color: transparent;
  border: none;
  cursor: pointer;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
}

.left-menu a:hover {
  color: #0a0349;
}


.top-menu {
  display: block;
  height: var(--height-menu);
  width: 100%;
  position: fixed;
  z-index: 5;
  top: 0;
  left: 0;
  background-color: white;
  overflow-x: hidden;
  padding-top: 10px;
  border-bottom-color: blueviolet;
  border-bottom-width: 0.5vh;
  border-bottom-style: solid;
  direction: ltr;
  text-align: right;
  
}

.top-menu a {
  padding: 8px 8px 8px 32px;
  background-color: transparent;
  border: none;
  cursor: pointer;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display:flexbox;
}

.top-menu a:hover {
  color: #0a0349;
}

.content {
  display: block;
  position: fixed;
  width: calc(90% - var(--width-menu));
  top: var(--height-menu);
  left: var(--width-menu);
  height: 100%;
  overflow-y: scroll;
  margin: 30px;
}
*/

.home-screen {
  display: flex;
  flex-direction: column;
}

.home-top-border {
  background-color: #000094;
  height: 3px;
}

.top-menu-container {
}

.top-menu {
  display: flex;
  justify-content: space-between;
  margin: auto;
  width: var(--content-width);
}

.top-menu-logo {
  display: flex;
  margin: auto 0;
}

.top-menu-links {
  display: flex;
  column-gap: 2em;
  margin: auto 0;
}

.top-menu-links a {
  text-decoration: none;
}

.top-menu-signin {
  display: flex;
  column-gap: 2em;
}

.top-menu-signin a {
  border: 2px solid #000094;
  border-radius: 4px 4px 4px 4px;
  color: #000094;
  letter-spacing: 0.25px;
  margin-block-start: 1.33em;
  margin-block-end: 1.33em;
  padding: 1.33em;
  text-decoration: none;
}

.banner-container {
  /*
  background-image: url('../public/images/banner_gradient.png');
  min-height: var(--banner-height);
  */
  background-image: url('../public/images/Vector_2727\ 1_merged01.png');
  background-size: 100% auto;
  background-position: 50% 50%;
  position: relative;
  overflow: hidden;
}

.banner-img {
  opacity: 0.5;
  position: absolute;
  top: 0px;
  left: 0px;
  height: var(--banner-height);
  width: auto; /* adjust */
}

.banner-content {
/*  background-image: url('./assets/banner.png');*/
  /*
  position: relative;
  */
  color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: space-around;  
  width: 50%;
  margin: auto;
}

.banner-logo {
  margin: 2em 0;
}

.banner-slider {
}

.search-container {
  background-color: #000094;
  color: #fff;
}

.search {
  display: flex;
  column-gap: 2em;
  justify-content: center;
}

.search-input {
  height: 100%;
  margin: auto 0;
}

.body-container {
  width: var(--content-width);
  margin: 1em auto;
}

.footer-container {
}

.footer-flex-col {
  display: flex;
  flex-direction: column;
  background-color: #000094;
  color: white;
}

.footer-banner {
  display: flex;
  justify-content: space-between;
  margin: 1% 10%;
  border-bottom: 1px solid #737373;
  padding-bottom: 1%;
}

.footer-banner img {
}

.footer-content {
  display: flex;
  justify-content: space-between;
  margin: 2% 10%;
}

.footer-content a {
  margin: 0.3em;
  text-decoration: none;
  color: #fff;
}

.footer-content a:visited {
  color: #fff;
}

.footer-bottom {
  background-color: #0c1b5a;
  color: white;
  font: 15px/1.33 "TeleNeo", Helvetica, Arial, serif;
  padding: 4px;
}

.footer-bottom p {
  width: 30%;
  margin-block-end: 1.67em;
  margin-block-end: 1.67em;
  margin: auto
}