  * {
    box-sizing: border-box;
    margin-bottom: 0.25rem;
    
  }
  
  /* Style the search field */
  div.example input[type=text] {
    padding: 10px;
    font-size: 17px;
    border: 1px solid grey;
    float: left;
    width: 75%;
    background: #f1f1f1;
  }
  
  /* Style the submit button */
  div.example button {
    float: left;
    width: 25%;
    padding: 10px;
    background: rgb(121, 46, 192);
    color: white;
    font-size: 17px;
    border: 1px solid grey;
    border-left: none; /* Prevent double borders */
    cursor: pointer;
  }
  
  div.example button:hover {
    background: rgb(158, 90, 221);
  }
  
  /* Clear floats */
  div.example::after {
    content: "";
    clear: both;
    display: table;
  }