  * {
    margin-bottom: 0.2rem;
    --width-search-bar: 80%; 
  }
  
  /* Style the search field */
  div.searchBarComponent input[type=text] {
    padding: 10px;
    font-size: 17px;
    border: 1px solid grey;
    float: left;
    width: calc(100% * 3 / 4);
    background: #f1f1f1;
  }
  
  /* Style the submit button */
  div.searchBarComponent button {
    float: left;
    width: calc (100% - calc(100% * 3 / 4 )) ;
    padding: 10px;
    background: rgb(121, 46, 192);
    color: white;
    font-size: 17px;
    border: 1px solid grey;
    border-left: none; /* Prevent double borders */
    cursor: pointer;
  }
  
  div.searchBarComponent button:hover {
    background: rgb(158, 90, 221);
  }
  
  /* Clear floats */
  div.searchBarComponent::after {
    content: "";
    clear: both;
    display: table;
  }